<!DOCTYPE html>
<html>
<head>
    <title>Loispy Debugger</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="terminal">
        <div class="lines">
            <div class="line">
                <span>===============<br>lois.py v.0.0.1<br>===============</span>
            </div>
        </div>
        <div class="input">
            <span class="caret">>></span>
            <input type="text" id="input-val">
        </div>
    </div>
    <div class="retval-template">
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/lib/jquery-1.10.2.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
</body>
</html>