/*
THEME COLORS

#206079 teal
#284D5A greyish
#0A3C4E darkish blue
#549FBC light
#70A7BC lighter
*/

body {
    background-image: url('/img/tweed.png');
}

.terminal {
    background-color: black;
    width: 600px;
    height: 400px;
    color: #00CC00;
    opacity: 80%;
    overflow: scroll;
}

.terminal span {
    font-family: 'inconsolata', sans-serif;
    font-size: 16px;
}


#input-val {
    width:520px;
    background-color: black;
    border: 0;
    color: #00CC00;
    font-family: 'inconsolata', sans-serif;
    font-size: 16px;
}

#input-val:focus {
    outline:0;
}

.retval-template {
    display:none;
}

.caret {
    margin-left: 5px;
}

.caret.f {
    margin-right: 3px;
}

body {
    background-color: black;
}